In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1 = pd.Series(list('abcedfghjklmnopqrsttuvwxyz'))
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     j
9     k
10    l
11    m
12    n
13    o
14    p
15    q
16    r
17    s
18    t
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [3]:
ser2 = pd.Series(np.arange(26))
ser2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [4]:
dataframe = pd.DataFrame(ser1, ser2)
dataframe

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   j
9   k
10  l
11  m
12  n
13  o
14  p
15  q
16  r
17  s
18  t
19  t
20  u
21  v
22  w
23  x
24  y
25  z